@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root {
  --color-bg: #F7F9FC;
  --color-menu: #2980B9;
  --color-hover: #3498DB;
  --color-title: #2C3E50;
  --color-subTitle: #5D6D7E;
  --color-text: #333333;
  --color-correct: #27AE60;
  --color-wrong: #E74C3C;
  --color-button: #3498DB ;
  --color-button-text: #ffffffe7 ;

  --boxShadow: 0 4px 8px rgba(0, 0, 0, 0.253);
  --boxShadow-hover: 0 4px 18px rgba(0, 0, 0, 0.651);
  --textShadow: 0 4px 8px rgba(0, 0, 0, 0.13);
  --textShadow-hover: 0 4px 12px rgba(255, 255, 255, 0.13);
}